	body {
		background:url('../images/background-image.jpg');
	}
	.navbar-brand {
                font-size: 50px;
                padding-top: 20px;
                margin-top:2%;
                
            }
            
    .jumbotron {
    
    	margin-top:5%;
    }
  
     ul {
		list-style: none;
	}
	
	.Resleft{
		color:#000000;
	    width:30%;
	    float: left;
				
	 }
	.Resright{
		
		width: 60%;
		float: left;
		border-left:3px solid #b90000;
	}
		
	.Resright a{
	margin-left:5%;
		color:#000000;
	}
	
	.Resright a:active{
	
		color:#004080;
	}
	.Resright a:hover{
	
		color:#004080;
	}
	
	.alertLogin {
		text-align:center;
		color:#fff;
	}
	
	#Mainfooter{
	color:#fff;
	display:block;
	background:#004080;
	}
